@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

.cravingsButton:hover .hidden {
    display: block;
  }
.submitButton:hover .hidden {
    display: block;
  }